input[type="number"], input[type="text"] {
	width: 200px;
	height: 30px;
	margin: 5px;
	
}
input[type="button"], input[type="reset"]{
	width: 160px;
	height: 30px;
}

#inputTable {
	position: absolute;
	top: 60px;
	left: 25%
}
.rowInput {
	position: absolute;
	left: 35%;
}
.data {
	background-color: red;
	width:30px;
	height:20px;
	
}
#name {
	border: 2px #000000 solid;
	padding: 5px;
}

.noData {
	width: 30px;
	height: 20px;
}

#tableData {
	left:  40%;
}

table{
	border-collapse: collapse;
	border: 2px #000000 solid;
	padding: 10px;
}

table tr {
	border: 2px #000000 solid;
	padding-right: 5px;
}
